<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.embed.skin">



    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application

        android:name=".ui.BaseApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/bluetooth_show"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.embed.skin.ui.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.embed.skin.ui.LoginActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.embed.skin.ui.HistoryListActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.embed.skin.ui.HistoryInfoActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.embed.skin.ui.BrandActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.embed.skin.ui.NewActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.CameraActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.PreviewActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.SettingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.MainActivityBg" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.WebviewActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.UpdateActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.ResultActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.embed.skin.ui.RecomActivity" android:screenOrientation="portrait"></activity>

    </application>

</manifest>